<!doctype html>
<html lang="pl">
<head>
  <meta charset="utf-8">
  <title>Express App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/style.css">
</head>
<header style="padding:8px 12px; border-bottom:1px solid #eee">
  {{#if user}}
    <span>Jesteś zalogowany jako: <strong>{{user.email}}</strong></span>
    &nbsp;|&nbsp; <a href="/private">Strefa prywatna</a>
    &nbsp;|&nbsp; <a href="/logout">Wyloguj</a>
  {{else}}
    <a href="/auth/google">Zaloguj z Google</a>
  {{/if}}
</header>

<body>
  <header>
    {{> nav}}
    <hr>
  </header>

  {{{ body }}}

  <hr>
  <footer>© {{year}}</footer>
</body>
</html>
