<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <title>Express App</title>
    <link rel="stylesheet" href="/style.css">

  </head>
  <body>
    <header>
      <h1>Moja super aplikacja</h1>
      <nav>
        <a href="/">Home</a> |
        <a href="/hello/John">Hello</a>
        <a href="/contact">Kontakt</a>
      </nav>
      <hr/>
    </header>

    {{{ body }}}

    <hr/>
    <footer>
      <small>&copy; {{year}}</small>
    </footer>
  </body>
</html>
