<!doctype html>
<html lang="pl">
<head>
  <meta charset="utf-8">
  <title>Express App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    {{> nav}}
    <hr>
  </header>

  {{{ body }}}

  <hr>
  <footer>© {{year}}</footer>
</body>
</html>
